<div class='col-md-6'>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" id='passenger-edit-form' name='passenger-edit-form' class='form-horizontal' method="POST" action=''>
    <input id="id" name="id" type="hidden" formControlName="id" value="{{passenger._id}}" class='form-control'>
    <div class='form-group'>
      <div class='col-md-3'>
        <label for='name'>Name</label>
      </div>
      <div class='col-md-9'>
        <input id='name' name='name' formControlName="name" class='form-control' value="{{passenger.name}}" [ngClass]="{'is-invalid': submitted && f.name.errors}"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Passenger Name is required</div>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-md-3'>
        <label for='surName'>Surname</label>
      </div>
      <div class='col-md-9'>
        <input id='surName' name='surName' formControlName="surName"  class='form-control' value="{{passenger.surName}}" [ngClass]="{'is-invalid': submitted && f.surName.errors}"/>
        <div *ngIf="submitted && f.surName.errors" class="invalid-feedback">
          <div *ngIf="f.surName.errors.required">Passenger Surname is required</div>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-md-3'>
        <label for='passportID'>Passport ID</label>
      </div>
      <div class='col-md-9'>
        <input id='passportID' name='passportID' formControlName="passportID" class='form-control' value="{{passenger.passportID}}" [ngClass]="{'is-invalid': submitted && f.passportID.errors}"/>
        <div *ngIf="submitted && f.passportID.errors" class="invalid-feedback">
          <div *ngIf="f.passportID.errors.required">Passenger passport ID is required</div>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-md-12'>
        <button [disabled]="loading" type='submit' class='btn btn-primary'>Edit</button>
        <a routerLink="/passenger" >Cancel</a>
      </div>
    </div>
  </form>
</div>
