<section id="header">
  <h1>Home</h1>
</section>

<section id="content">
  <div class="breadcrumb">
    <div>RailStation</div>
  </div>
  <div class="list-group">

    <div class="list-group-item">
      <span class="list-icon glyphicon glyphicon-user">
        <a class="my-link" routerLink="/passenger" >Passenger</a>
      </span>
    </div>
    <div class="list-group-item">
      <span class="list-icon glyphicon glyphicon-plane">
        <a class="my-link" routerLink="/train" >Train</a>
      </span>
    </div>
    <div class="list-group-item">
      <span class="list-icon glyphicon glyphicon-tags">
        <a class="my-link" routerLink="/ticket" >Ticket</a>
      </span>
    </div>

  </div>
</section>
